.taskCount {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.taskCount strong {
    font-size: 0.875rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.taskCount strong span {
    background: var(--gray-400);
    color: var(--gray-200);
    padding: 0.125rem 0.5rem;
    border-radius: 16px;
    font-size: 0.75rem;
    line-height: 1.2;
}

.createdTasks {
    color: var(--blue-500);
}

.completedTasks {
    color: var(--purple-500);
}

@media (max-width: 768px) {
    .taskCount strong span {
        line-height: 0.9;
    }
}